.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}



#Table {

  
    width: 1440px;
    height:770px;
    margin: 0 auto;
     background-image: url('/img/table_solo.png') !important;
     background-repeat: no-repeat;
     background-size:auto;
     background-position: calc(50% - 0px) calc(50% - 75px);
      overflow: hidden;
 }

