.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}



#Table {


    width: 100%;
    height:100%;
    margin: 0 auto;
     background-image: url('/img/bigtable.png') !important;
     background-repeat: no-repeat;
     background-size:auto;
     background-position: calc(50% - 50px) calc(50% - 75px);
  
 }