#pokerBg {
    width: 100%;
    height:150%;
    position: absolute;
    margin: 0 auto;
    background-repeat: no-repeat;
       background-size:cover;
       background-image: url("/img/poker_bg2_mob.png");
    background-color:grey;
  }