#pokerBg {
    width: 1440px;
    height:770px;
    position: absolute;
    background-image: url("/img/poker_bg2.png");
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
       background-size:auto;
       background-position: calc(50% - 0px) calc(50% - -50px);
    overflow: hidden;
  }