

.actionItem {
    margin-left: 3px;
}

.raiseInput {
    position: absolute !important;
    top: -40px;
    width: 177px !important;
    left: 357px;
}

.ghostBtn {
    display: none;
    pointer-events: none;
}

.ghostBtnSpace {
    visibility: hidden;
    pointer-events: none;
}

.raiseSlider {
    top: 80px;
    left: -20px;
    
}

.raiseButton {
    position: absolute;
    top: 0px;
}

.raiseControls {
    width:200px;
}

.rangeslider__fill {
    background-color: darkgrey !important;
}