

.actionItem {
    margin-left: 3px;
}

.raiseInput {
    position: absolute;
    top: -40px;
    width: 177px !important;
    left: 357px;
}

.ghostBtn {
    display: none;
    pointer-events: none;
}

.ghostBtnSpace {
    visibility: hidden;
    pointer-events: none;
}