@import url("./TableDesktop_v3.css") only screen and (min-width: 1026px);

@import url("./TableTablet_v3.css") only screen and (max-width: 1025px);


@import url("./TableMobileLandscape_v3.css") only screen and (max-width: 813px);
@import url("./TableMobilePortrait_v3.css") only screen and (max-width: 420px);


#blocker {
  height: 100%;
  width: 100%;
}

.emptySeat {
  background-color: lightgrey !important;
}

.cardfolded {
  
  opacity: 0.40;


}