@import url("./TableDesktop_v2.css") only screen and (min-width: 1026px);

@import url("./TableTablet_v2.css") only screen and (max-width: 1025px);


@import url("./TableMobile_v2.css") only screen and (max-width: 766px);

#blocker {
  height: 100%;
  width: 100%;
}

.emptySeat {
  background-color: lightgrey !important;
}

.cardfolded {
  
  opacity: 0.40;


}