#Table {

  
    width: 1440px;
    height:770px;
    margin: 0 auto;
     background-image: url('/img/table_solo2.png') !important;
     background-repeat: no-repeat;
     background-size:auto;
     background-position: calc(50% - 0px) calc(50% - 75px);
     
 }

 #mobile-overlay {
    display:none;
}
#Board{
    position: absolute;;
    width:50%;
      left:555px;
      top:270px;
      display: flex;
  }
  .boardCard{
    margin-left:3px;
  }
  .bcardSize {
    width: 60px;
   
  }
  
  #gameMenu{
    position: absolute;
    top: 350px;
    left:25px;
  }
  
  .emptySeatWhileSititing {
    opacity: 0.3;
  }
  
  .ghostBtn {
    display: none !important;
  }
  
  #totalPot {
    position: absolute;;
  
      left:658px;
      top:243px;
      display: flex;
  }
  
  #roundPot {
    position: absolute;;
  
      left:660px;
      top:366px;
      display: flex;
  }
  #ChatInput {
    position: absolute;;
   
    width:400px;
    height:150px;
    top: 125px;
  
  }
  #Chat {
   
    position: absolute;;
   
    width:400px;
    height:125px;
    top:545px;
    left:25px;
    background-color:#f2f2f2;
  }
  
  .chatBuffer {
    visibility: hidden;
  }
  
  #ChatThread {
    display: flex;
    flex-direction: column-reverse;
    
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    list-style-type: none;
    height:125px;
  
  }
  
  
  .chipStack {
    position: absolute;
  
    list-style-type: none;
    display: flex;
  flex-direction: column-reverse;
  }
  
  .chip {
    margin: -12px 0;
  }
  
  
  #seatbox{
    margin: 0 auto;
  
    width: 900px;
    height:700px;
  }
  
  
  .stackAmt{
    position: absolute;
    left:40px;
  }
  
  #ActionBar {
      position: absolute;;
      display: inline-block;
    
      left:370px;
      top:590px;
    }
  
    #CheckBoxContainer {
      position: absolute;;
      display: inline-block;
      top:-140px;
      padding-left: 250px;
    }
  
  
  .alertBanner {
    width:87%;
    z-index:99;
  }
  
  #seat0 {
    position: absolute;
    left:480px;
    top:80px;
  }
  
  #chipstack0 {
    position: absolute;
    left:600px;
    top:160px;
  }
  
  #dealerButton0 {
    position: absolute;
    left:550px;
    top:205px;
  }
  
  #seat1 {
    position: absolute;
    left:750px;
    top:80px;
  }
  
  #chipstack1 {
    position: absolute;
    left:790px;
    top:180px;
  }
  
  #dealerButton1 {
    position: absolute;
    left:750px;
    top:200px;
  }
  
  
  #seat2 {
    position: absolute;
    left:990px;
    top:195px;
  }
  
  
  #chipstack2 {
    position: absolute;
    left:910px;
    top:240px;
  
  }
  
  #dealerButton2 {
    position: absolute;
    width:100px;
    left:920px;
    top:220px;
    display:block !important;
  }
  
  #seat3 {
    position: absolute;
    left:1015px;
    top:330px;
  }
  
  #chipstack3 {
    position: absolute;
    left:920px;
    top:315px;
  
  }
  
  #dealerButton3 {
    position: absolute;
    left:880px;
    top:335px;
  
  }
  
  #seat4 {
    position: absolute;
    left:890px;
    top:455px;
    
  }
  
  #chipstack4 {
    position: absolute;
    left:835px;
    top:390px;
    
  }
  
  #dealerButton4 {
    position: absolute;
    left:815px;
    top:425px;
    
  }
  
  #seat5 {
    position: absolute;
    left:630px;
    top:500px;
  }
  #chipstack5 {
    position: absolute;
    left:690px;
    top:420px;
  }
  
  #dealerButton5 {
    position: absolute;
    left:660px;
    top:40px;
  }
  
  #seat6 {
    position: absolute;
    left:350px;
    top:455px;
  }
  
  #chipstack6 {
    position: absolute;
    left:535px;
    top:385px;
  }
  
  #dealerButton6 {
    position: absolute;
    left:475px;
    top:425px;
  }
  
  #seat7 {
    position: absolute;
    left:235px;
    top:330px;
  }
  
  #chipstack7 {
    position: absolute;
    left:450px;
    top:335px;
  }
  
  #dealerButton7 {
    position: absolute;
    left:500px;
    top:305px;
  }
  
  #seat8 {
    position: absolute;
    left:255px;
    top:196px;
  }
  
  #chipstack8 {
    position: absolute;
    left:475px;
    top:225px;
  }
  
  #dealerButton8 {
    position: absolute;
    left:435px;
    top:276px;
  }
  
  