

#Board{
  position:relative;

    left:270px;
    top:-600px;
    display: flex;
}
.boardCard{
  margin-left:3px;
}
#ActionBar {
    position:relative;
    display: inline-block;
  
    left:400px;
    top:-280px;
  }


#seat0 {
  position: relative;
  left: 100px;

  }
  
  #seat1 {
    position: relative;
    left: 600px;
    top:-90px;
  }
  
  #seat2 {
    position: relative;
    left:785px;
    top:-40px;
  }
  
  #seat3 {
    position:relative;
    left:785px;
    top:10px;
   
  }#seat4 {
    position:relative;
    left:680px;
    top:60px;
   
  }
  #seat5 {
    position:relative;
    left:355px;
    top:30px;
  
  }
  #seat6 {
    position:relative;
    left:25px;
    top:-130px;
    
  }
  #seat7 {
    position:relative;
    left:-100px;
    top:-350px;
  
  }
  #seat8 {
    position:relative;
    left:-90px;
    top:-620px;
   
  }