#Table {

  
    width: 100%;
    margin: 0 auto;
     background-image: url('/img/table_solo2.png') !important;
     background-repeat: no-repeat;
     background-size:auto;
     background-position: calc(50% - 0px) calc(50% - 75px);
     
 }

 #mobile-overlay {
    display:none;
}
#Board{
    position: absolute;;
  
      left:350px;
      top:240px;
      display: flex;
  }
  .boardCard{
    margin-left:3px;
  }
  
  #gameMenu{
    position: absolute;
    top: 350px;
    left:25px;
  }
  
  .emptySeatWhileSititing {
    opacity: 0.3;
  }
  
  .ghostBtn {
    display: none !important;
  }
  
  #totalPot {
    position: absolute;;
  
      left:460px;
      top:200px;
      display: flex;
  }
  
  #roundPot {
    position: absolute;;
  
      left:460px;
      top:350px;
      display: flex;
  }
  #ChatInput {
    position: absolute;;
   
    width:400px;
    height:150px;
    top: 125px;
  
  }
  #Chat {
   
    position: absolute;;
   
    width:400px;
    height:125px;
    top:545px;
    left:25px;
    background-color:#f2f2f2;
  }
  
  .chatBuffer {
    visibility: hidden;
  }
  
  #ChatThread {
    display: flex;
    flex-direction: column-reverse;
    
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
    list-style-type: none;
    height:125px;
  
  }
  
  
  .chipStack {
    position: absolute;
  
    list-style-type: none;
    display: flex;
  flex-direction: column-reverse;
  }
  
  .chip {
    margin: -12px 0;
  }
  
  
  #seatbox{
    margin: 0 auto;
  
    width: 900px;
    height:700px;
  }
  
  
  .stackAmt{
    position: absolute;
    left:40px;
  }
  
  #ActionBar {
      position: absolute;;
      display: inline-block;
    
      left:170px;
      top:590px;
    }
  
    #CheckBoxContainer {
      position: absolute;;
      display: inline-block;
      top:-140px;
      padding-left: 250px;
    }
  
  
  
  
  #seat0 {
    position: absolute;
    left:250px;
    top:50px;
  }
  
  #chipstack0 {
    position: absolute;
    left:380px;
    top:160px;
  }
  
  #dealerButton0 {
    position: absolute;
    left:350px;
    top:205px;
  }
  
  #seat1 {
    position: absolute;
    left:550px;
    top:50px;
  }
  
  #chipstack1 {
    position: absolute;
    left:580px;
    top:140px;
  }
  
  #dealerButton1 {
    position: absolute;
    left:550px;
    top:160px;
  }
  
  
  #seat2 {
    position: absolute;
    left:770px;
    top:165px;
  }
  
  
  #chipstack2 {
    position: absolute;
    left:700px;
    top:200px;
  
  }
  
  #dealerButton2 {
    position: absolute;
    width:100px;
    left:920px;
    top:220px;
    display:block !important;
  }
  
  #seat3 {
    position: absolute;
    left:815px;
    top:295px;
  }
  
  #chipstack3 {
    position: absolute;
    left:920px;
    top:365px;
  
  }
  
  #dealerButton3 {
    position: absolute;
    left:930px;
    top:385px;
  
  }
  
  #seat4 {
    position: absolute;
    left:700px;
    top:355px;
    
  }
  
  #chipstack4 {
    position: absolute;
    left:865px;
    top:425px;
    
  }
  
  #dealerButton4 {
    position: absolute;
    left:815px;
    top:425px;
    
  }
  
  #seat5 {
    position: absolute;
    left:430px;
    top:500px;
  }
  #chipstack5 {
    position: absolute;
    left:490px;
    top:390px;
  }
  
  #dealerButton5 {
    position: absolute;
    left:460px;
    top:460px;
  }
  
  #seat6 {
    position: absolute;
    left:200px;
    top:425px;
  }
  
  #chipstack6 {
    position: absolute;
    left:365px;
    top:345px;
  }
  
  #dealerButton6 {
    position: absolute;
    left:475px;
    top:425px;
  }
  
  #seat7 {
    position: absolute;
    left:35px;
    top:330px;
  }
  
  #chipstack7 {
    position: absolute;
    left:250px;
    top:315px;
  }
  
  #dealerButton7 {
    position: absolute;
    left:320px;
    top:355px;
  }
  
  #seat8 {
    position: absolute;
    left:65px;
    top:196px;
  }
  
  #chipstack8 {
    position: absolute;
    left:275px;
    top:205px;
  }
  
  #dealerButton8 {
    position: absolute;
    left:405px;
    top:276px;
  }
  
  