<!DOCTYPE html>
body
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='socket.io.js')
link(rel='stylesheet', href='PokerTable.css')
button#maketable.button.is-primary(type='raise' onclick="maketable();") Start Game