body
script(src='http://localhost:3000/socket.io/socket.io.js')
link(src='PokerTable.css')
script(src='clientPokerTable.js')
main
  .container
    div.tableInfo
      div#tablename
      div#smallblind
      div#bigblind
      div#actionOnPlayer
    div.player
      div#seat1Name
      div#seat1Stack
      div#seat2Name
      div#seat2Stack
      div#seat3Name
      div#seat3Stack
      div#seat4Name
      div#seat4Stack
      div#seat5Name
      div#seat5Stack
      div#seat6Name
      div#seat6Stack
      div#seat7Name
      div#seat7Stack
      div#seat8Name
      div#seat8Stack
      div#seat9Name
      div#seat9Stack
    div.cards
      div#mycards
      div#card1
      div#card2
      div#card3
      div#card4
      div#card5
      div#currentPot
      div#minRaise
    div#betBettingBar(class="hidden" display="none" style="display:none;")
       button.btn.btn-primary(type='raise' onclick="sendAction(5);") Raise 5
       button.btn.btn-primary(type='call' onclick="sendAction('call');") Call
       button.btn.btn-primary(type='call' onclick="sendAction('fold');") Fold
    div#openBettingBar(class="hidden" display="none" style="display:none;")
       button.btn.btn-primary(type='bet' onclick="sendAction(5);") Bet 5
       button.btn.btn-primary(type='check' onclick="sendAction('check');") Check
       button.btn.btn-primary(type='call' onclick="sendAction('call');") Call
    div#handDetails
