body
script(src='http://localhost:3001/socket.io/socket.io.js')
script(src='clientPokerTable.js')
main
  .container
    div.tableInfo
      div#tablename
      div#smallblind
      div#bigblind
      div#actionOnPlayer
    div.player
      div#seat1Name
      div#seat1Stack
      div#seat2Name
      div#seat2Stack
      div#seat3Name
      div#seat3Stack
      div#seat4Name
      div#seat4Stack
      div#seat5Name
      div#seat5Stack
      div#seat6Name
      div#seat6Stack
      div#seat7Name
      div#seat7Stack
      div#seat8Name
      div#seat8Stack
      div#seat9Name
      div#seat9Stack
    div.cards
      div#card1
      div#card2
      div#card3
      div#card4
      div#card5
      div#currentPot
      div#minRaise