body
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='socket.io.js')
link(rel='stylesheet', href='PokerTable.css')
script(src='clientJQ.js')
main
  div#overlay
   div.form-group
     label(for='userid') UserID:
     input#userid.form-control(type='userid', placeholder='userid' name='userid')
   div.form-group
     label(for='userid') Seat:
     input#seat.form-control(type='seat', placeholder='seat' name='seat')
   div.form-group
    label(for='balance') Balance:
    input#balance.form-control(type='balance', value='100' name='balance')          
   button.btn.btn-primary(onClick='register();') Go
  .div#table
    table.pokerTable
      tr
        td
        td.player.player0
         div.player#player0
          div.userid
          div.balance
          div.cards
           div.card1
           div.card2
        td
        td.player.player1
         div.player#player1
          div.userid
          div.balance
          div.cards
           div.card1
           div.card2
        td
      tr
        td.player.player8
          div.player#player8
            div.userid
            div.balance
            div.cards
             div.card1
             div.card2
        td#board
        td
          div#winner.winner Ass
          button.winner(type='raise' onclick="nextHand();") Next Hand
        td#statusArea
        td.player.player2
          div.player#player2
            div.userid
            div.balance
            div.cards
             div.card1
             div.card2
      tr
        td.player.player7
          div.player#player7
            div.userid
            div.balance
            div.cards
             div.card1
             div.card2
        td
        td
        td
        td.player.player3
          div.player#player3
            div.userid
            div.balance
            div.cards
             div.card1
             div.card2
      tr
        td
        td.player.player6
          div.player#player6
            div.userid
            div.balance
            div.cards
             div.card1
             div.card2
        td.player.player5
          div.player#player5
            div.userid
            div.balance
            div.cards
             div.card1
             div.card2
        td.player.player4
          div.player#player4
            div.userid
            div.balance
            div.cards
             div.card1
             div.card2
        td
  div#actionBar
   div#raise
    button.raiseButton(type='raise' onclick="raise(5);") Raise
    input.raiseInput(type="text" name="raise" placeholder="")
   button#call(type='call' onclick="call();") Call
   button#check(type='check' onclick="check();") Check
   button#fold(type='fold' onclick="fold();") Fold
  button#start(type='raise' onclick="startGame();") Start Game
