<!DOCTYPE html>
body
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
script(src='socket.io.js')
link(rel='stylesheet', href='PokerTable.css')
script(src='clientJQ.js')
nav
    ul#navbar
        li#login
          a#login-trigger Log in ▼
          div#login-content
            form(method="POST" action="/login")
              fieldset#inputs
                input#email(type="email" name="email" placeholder="Your email address" required)
                input#password(type="password" name="password" placeholder="password" required)
              fieldset#actions
                input#submit(type="submit" value="Log in" )
                label
                input(type="checkbox" checked="checked")
                Keep Stay signed in
        li#signup
        a(href="/register") Register
main
  .div#table
    table.pokerTable
      tr
        td
        td.player.player0
         div.empty.player#player0
          div#chipstop
           img(src='img/chips.jpg' width="30px")
           div#moneyOnLine
          div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(0);") Sit
          div.userid
          div.balance
          div.cards
           div.card1
           div.card2
        td
        td.player.player1
         div.empty.player#player1
          div#chipstop
           img(src='img/chips.jpg' width="30px")
           div#moneyOnLine
          div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(1);") Sit
          div.userid
          div.balance
          div.cards
           div.card1
           div.card2
        td
      tr
        td.player.player8
          div.empty.player#player8
           div#chipsleft
            img(src='img/chips.jpg' width="30px")
            div#moneyOnLine
           div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(8);") Sit
           div.userid
           div.balance
           div.cards
            div.card1
            div.card2
        td
        td#board
        td
        td.player.player2
          div.empty.player#player2
           div#chipsright
            div#moneyOnLine
            img(src='img/chips.jpg' width="30px")
           div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(2);") Sit
           div.userid
           div.balance
           div.cards
            div.card1
            div.card2
      tr
        td.player.player7
          div.empty.player#player7
           div#chipsleft
             img(src='img/chips.jpg' width="30px")
             div#moneyOnLine
           div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(7);") Sit
           div.userid
           div.balance
           div.cards
            div.card1
            div.card2
        td
        td#statusArea
        td
        td.player.player3
          div.empty.player#player3
           div#chipsright
            div#moneyOnLine
            img(src='img/chips.jpg' width="30px")
           div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(3);") Sit
           div.userid
           div.balance
           div.cards
            div.card1
            div.card2
      tr
        td
        td.player.player6
          div.empty.player#player6
           div#chipsbottom
             img(src='img/chips.jpg' width="30px")
             div#moneyOnLine
           div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(6);") Sit
           div.userid
           div.balance
           div.cards
            div.card1
            div.card2
        td.player.player5
          div.empty.player#player5
           div#chipsbottom
             img(src='img/chips.jpg' width="30px")
             div#moneyOnLine
           div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(5);") Sit
           div.userid
           div.balance
           div.cards
            div.card1
            div.card2
        td.player.player4
          div.empty.player#player4
           div#chipsbottom
             img(src='img/chips.jpg' width="30px")
             div#moneyOnLine
           div#join
            input.balanceInput(type="text" name="balance" placeholder="balance" size="8")
            button(onclick="sit(4);") Sit
           div.userid
           div.balance
           div.cards
            div.card1
            div.card2
        td
  div#actionBar.container
   div#raise
    button.button.is-info(type='raise' onclick="raise();") Raise
    input.raiseInput.input(type="text" name="raise" placeholder="" size="1")
   button#call.button.is-success(type='call' onclick="call();") Call
   button#check.button.is-warning(type='check' onclick="check();") Check
   button#fold.button.is-danger(type='fold' onclick="fold();") Fold
  div#bottomBar
   div#gameBar
    button#start.button.is-primary(type='raise' onclick="startGame();") Start Game
    button#clock.button.is-primary(type='raise' onclick="callClock();") Call clock
    div.sitOutBar
     input.sitoutcheckbox(type="checkbox" name="sitoutcheckbox" placeholder="" onclick="toggleSitOut()") 
     label Sit out next hand
    button#leaveTable.button.is-warning(onclick="leaveTable();") Leave table
   div#chat
    ul#messages
     li Welcome to Clint Do-Me-Son's Poker Dojo
   

