@import "bulma.css";
ul { 
	margin: 0;padding:0; }

#player0 {
	
}

#player1 {

}

.hidden {
	display: block;
}

.seatfull {
		background-color: lightgreen;
}
.player {


	width:150px;
	height:150px;

}

.pokerTable {
	display: flex;
  align-items: center;
  justify-content: center;
}

.table {

}

.cards {
	width: 125px;
	height:100px;
}

.card1 {
	width:50%;
	float:left;	
}

.card2 {
	width:50%;
	float:left;
}

#board {
	margin-left: 40px;
	margin-top: 75px;
	width:50px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.actionOn {
	background-color: lightblue !important;
}

.sittingOut {
	background-color: grey !important;
}

#actionBar {
	display:none;
	text-align: center;

}

.sitOutBar {
	display: inline-block;
}



#raise {
	display:none;
}

.empty {
	background-color: lightgrey !important;
	border-width: thin !important;
	border-color: black !important;
}

#raiseInput {
	display: none;
}
#call {
	display:none;
}

#fold {
	display:none;
}

#check {
	display:none;
}

.userid {
	font-size: 22px;
}

#chipsbottom {
	visibility: hidden;
	display: flex;
	position: absolute;
	margin-left: 50px;
	top:420px;
	width:250px;

}

#chipstop {
	visibility: hidden;
	position: absolute;
	margin-left: 60px;
	top:155px;
	width:150px;

}

#chipsright {
	visibility: hidden;
	position: absolute;
	margin-top:60px;
	margin-left: -40px;
	width:2000px;
	display: inline-block;


}

#chipsleft {


	visibility: hidden;
	position: absolute;
	margin-top: 60px;
	margin-left: 160px;
	width:150px;

}
#send {
	right:0px;
	width:400px;
	
	position: absolute;
}
#messages {
	
	width:400px;
	height: 150px;
	 word-break:break-all;
	 border-width: 2px;
	 border-color: black;
	 border-style: solid;
	float:right;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
  flex-direction: column-reverse;
}

#gameBar {
	width:140px;
	float: left;
}

.winner {
	 visibility:hidden;
	 display: flex;
  	align-items: right;
  	justify-content: right;
  	position: absolute;
  	font-size: 10px;
	}

#bottomBar {
		width: 100%

}

.actionButtons {
 	 display: inline-block;
	 padding:0.3em 1.2em;
	 margin:0 0.3em 0.3em 0;
	 border-radius:2em;
	 box-sizing: border-box;
	 text-decoration:none;
	 font-family:'Roboto',sans-serif;
	 font-weight:300;
	 color:#FFFFFF;
	 background-color:#4eb5f1;
	 text-align:center;
	 transition: all 0.2s;
}
.actionButtons:hover {
 background-color:#4095c6;
}
@media all and (max-width:30em){
 .actionButtons{
  display:block;
  margin:0.2em auto;
 }
}

.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}

@supports (-moz-appearance:none) {
    #board {
		width:150px; 
		margin-left: 0px;
    }
}