#ButtonContainer,#CheckBoxContainer {
    display: flex;
    align-items: right;
    justify-content: center;
    position: relative;
    left:300px;
    margin-left: 3px;
}

.actionItem {
    width:175px;
    height:80px
}