
 @media only screen and (min-width: 421px) {
ul{padding:0;}

.pieTimer {
    position: absolute;
    top:10px;
    left:-30px;
    
}

#card1 .showCard {
        position: absolute;
        height:100%;
        width:50%;
        top:0px;
        background-color: white;
        visibility:hidden;
        text-align: center;
        opacity: .8;
        font-weight: 700;
        }

        #card2 .showCard {
            position: absolute;
        height:70%;
        width:50%;
        top:0px;
        background-color: white;
        visibility:hidden;
        text-align: center;
        opacity: .8;
        font-weight: 700;
            }

.sitButton {
    position: absolute;
    top: 5px;
    right: 50px;
}

#card1:hover .showCard {
        visibility:visible;
    }
    #card2:hover .showCard {
        visibility:visible;
    }


.card1Shown{
            margin-top: -20px;
        }
.card2Shown{
    margin-top: -20px;

}

#card2:hover .showCard {
        visibility:visible;
    }


.cards {
    position: absolute;
    margin-left: 20%;
   top: -40px;
    display: flex;
    align-items: right;
    justify-content: center;
    max-height: 200px;
    
}


.slideToPot0 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(50px, 50px);

}
.slideToPot1 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(-20px, 50px);

}
.slideToPot2 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(-200px, 0px);

}
.slideToPot3 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(-205px, -140px);

}
.slideToPot4 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(-200px, -150px);

}

.slideToPot5 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(0px, -200px);

}
.slideToPot6 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(180px, -180px);

}
.slideToPot7 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(200px, -40px);

}
.slideToPot8 {

    transition: transform;
    transition-duration: 300ms;
    transform: translate(200px, -20px);

}

.actionOn {
    background-color: #01FF70 !important;
}

.inputGroup {
    display: flex;
    align-items: right;
    justify-content: center;
    width:150px;
    height: 38px;
   
    
}
.card {
    
    width:200px !important;
    height: 80px !important;
    padding-top: -50px;
    
}



.sittingOut {
    font-style: italic;
    color:gray;
}

.cardBody{
    position: absolute;
    background-color: lightgray;
    width:180px;
    height: 55px;
 

    border-radius: 10px;
    border: solid 3px gray;

}

.balanceText {
    position: absolute;

    left:10px;
    top:28px;
}

.userid {
    position: absolute;
    font-weight: 800;
    top:5px;
    left:10px;
}
 }


 @media only screen and (max-width: 420px) {
    ul{padding:0;}
    
    .pieTimer {
        display:none;
    }

    .cardSize {
        display:none;
    }
    
    #card1 .showCard {
        display:none;
            }
    
            #card2 .showCard {
                display:none;
                }
    
    .sitButton {
        display:none;
    }
    
    #card1:hover .showCard {
        display:none;        }
        #card2:hover .showCard {
            display:none;        }
    
    
    .card1Shown{
        display:none;            }
    .card2Shown{
        display:none;    
    }
    
    #card2:hover .showCard {
        display:none;        }
    
    
    .cards {
        display:none;
        
    }
    
    
    .slideToPot0 {
    
        display:none;
    
    }
    .slideToPot1 {
    
        display:none;
    
    }
    .slideToPot2 {
    
        display:none;
    
    }
    .slideToPot3 {
    
        display:none;
    
    }
    .slideToPot4 {
    
        display:none;
    
    }
    
    .slideToPot5 {
    
        display:none;
    }
    .slideToPot6 {
    
        display:none;
    
    }
    .slideToPot7 {
    
        display:none;
    
    }
    .slideToPot8 {
    
        display:none;
    
    }
    
    .actionOn {
        display:none;    }
    
    .inputGroup {
        display:none;
       
        
    }
    .card {
        
        display:none;
        
    }
    
    
    
    .sittingOut {
        display:none;
    }
    
    .cardBody{
        display:none;
    
    }
    
    .balanceText {
        display:none;
    }
    
    .userid {
        display:none;
    }
     }