ul{padding:0;}

.cards {
    position: absolute;
    margin-left: 45%;
    top:-15px;
    display: flex;
    align-items: right;
    justify-content: center;
    max-height: 200px;
}


.inputGroup {
    display: flex;
    align-items: right;
    justify-content: center;
    width:150px;
    height: 38px;
   
    
}
.card {
    width:200px !important;
    height: 80px !important;
    padding-top: -50px;
    
}
